@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import forms.$className$Form
@import models.Mode
@import utils.FormHelpers
@import viewmodels.InputViewModel

@(appConfig: FrontendAppConfig, form: Form[String], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_radio(
            viewModel = InputViewModel[String]("value", form),
            legend = messages("$className;format="decap"$.heading"),
            legendClass = Some("visually-hidden"),
            inputs = $className$Form.options
        )

        @components.submit_button()
    }
}
@import config.FrontendAppConfig
